.container {
    width: 98%;
    margin: auto;
    text-align: center;
}

.detalle {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    flex-direction: center;
    text-decoration: none;
    
}

h6{
    margin-top: 0.2rem;
    color: gray;
}
.detail_image {
    height: 300px;
}

.content {
    
    display: inline-flex;
    text-align: center;
    
}
.contador2 {
    
    
    padding: auto;
    margin-left:15rem;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

