.contador {
    width:auto;
    background-color: rgb(236, 236, 235);
    padding: 3rem;
    margin-left: 1rem;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.remera{
    height: 250px;
    width: 250px;
}

.cardContador{
    height: auto;
    width: 420px;
    display:inline-flex;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
   
}

.gorra{
    height: 250px;
    width: auto;;
}

.llavero{
    height: 250px;
    width: 310px;
}

