.contador{
    text-align: center;
}
.remera{
    height: 250px;
    width: 250px;
}

.cardContador{
    height: auto;
    width: 420px;
    display:inline-flex;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
   
}

.gorra{
    height: 250px;
    width: auto;;
}

.llavero{
    height: 250px;
    width: 310px;
}

.btn {
    margin: 0.5rem;
    height: 1.5rem;
    width: 2rem;
    text-align: center;
}

.btn2 {
    margin: 0.5rem;
    height: 1.9rem;
    width: 8rem;
}
